<form action="{{ base_url }}/inviteUser" method="POST" name="invite_form">

    <input type="hidden" name="invite_form[project_id]" id="input_project_id" value="{{ project }}">

    <div class="row">
        <div class="col-8">
            <div id="invite_form_message" class="alert hidden" role="alert" ></div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label for="input_email">Email:</label>
                <input class="form-control" type="email" id="input_email" name="invite_form[email]" required placeholder="Unesite email korisnika s kojim zelite da saradjujete">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <button type="submit" class="btn btn-primary add-btn">Pozovi</button>
            </div>
        </div>
    </div>
</form>
<hr>
