{% extends "_global/index.html" %}

{% block main %}

    <div class="row">
        <div class="col-12 text-center">
            <div class="centered-large-message">
                Uspesno ste se registrovali. <br>
                <a href="/project_collaboration/login">Uloguj se</a>
            </div>
        </div>
    </div>

{% endblock %}